*{
    padding:0;
    margin:0;
    font-family:微软雅黑;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width:100%;  
    min-width:960px;
    position:relative;
}

.header {
    width:100%;
    height:80px;
    background:#000;
    font-size:20px;
}

    .header ul {
        padding-top:25px;
    } 

     .header ul li{
         float:left;
         margin-left:60px;
    } 

       .header ul li a{
         color:#b8e01e;
    }


.crate_btn {
    width:134px;
    height:54px;
    background-image: url('../images/crate_btn.png');  
    color:#fff;
    text-align:center;
    line-height:54px;
    padding-top:5px; 
    font-size:18px;
    cursor:pointer;
    position:absolute;
    bottom:50px;
    right:250px;
     -moz-background-size:contain;
    -webkit-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
}

.join_btn {
   width:134px;
    height:54px;
    background-image: url('../images/join_btn.png');  
    color:#fff;
    text-align:center;
    line-height:54px;
    padding-top:5px; 
    font-size:18px;
    cursor:pointer;
    position:absolute;
    bottom:50px;
    right:100px;
     -moz-background-size:contain;
    -webkit-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
}

.img {
     width:100%;   
      -moz-background-size:contain;
    -webkit-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
}


/*赛事介绍*/

.site_info {
    width:100%;  
    background-color:#d2fc31;
    padding-bottom:10px;
}

.site {
    width:100%;
    height:100%;
    overflow:hidden;
    background:#373a3a;
}

.site1 {
    width:100%;
    height:100%;
    overflow:hidden;
    background:#d2fc31;
}

.site2 {
     width:100%;
    height:100%;
    overflow:hidden;
    background:#fff; 
}

.site_l {
    float:left;
    margin-top:15px;
     border:1px solid red;
}

.site_c {
    float:left;
    font-size:30px;
    color:#fff;
    padding:0 20px;
}

.site_r {
    float:left;
    margin-top:15px; 
}

.site2_l {
    width:50%;
    float:left; 
}
.site2_r {
    float:left; 
    width:40%; 
}

#team {
    width:100%;
    height:100%;
    background-color:#d2fc31;
    padding:10px 0;
}



.team_header {
    min-height:200px;
    height:100%;
    overflow:hidden;
    background-image: url('../images/ds.png');
    -moz-background-size:100% contain;
    -webkit-background-size:100%  contain;
    -o-background-size:100% contain;
    background-size:100% contain; 
    padding-bottom:10px;
    background-position-y:left;
    background-repeat:repeat-x;
    position:relative;
}



.btn_bg {
    width:45%; float:left; background-image:url('../images/cz.png');-moz-background-size:100% 100%;
    -webkit-background-size:100%  100%;
    -o-background-size:100% 100%;
    background-size:100% 100%; 
     height:65px; 
     text-align:center;
     margin-left:5%;


}


.sel_ul {
    min-width:433px;
    max-width:433px;
}
   
.sel_ul li {
    list-style:none; 
    height:35px;
    width:100%;
    white-space: nowrap;word-break:keep-all;overflow: hidden;text-overflow: ellipsis;
}

        .sel_ul {
            border:1px solid rgba(0, 0, 0, 0.21);
            
        }

        .sel_ul li:hover {
            background-color:rgba(0, 0, 0, 0.21);
        }


.team_info {
     min-height:250px;
    height:100%;
    overflow:hidden;
    background-image: url('../images/dx.png');
    -moz-background-size:100% contain;
    -webkit-background-size:100%  contain;
    -o-background-size:100% contain;
    background-size:100% contain ;
    padding-bottom:20px; 
}

.team_info_block {
    width:50%;
    float:left; 
}


.sel_ {
    width:45%;background-color:transparent; height:40px; margin-top:30px; margin-left:50px; font-size:20px; color:#d2fc31;    float:left; border:2px solid #d2fc31; 
}


 
/*图片轮播*/

.gallery {
	position: relative;
	width: 100%;
	height: 450px; 
}
.gallery_img img {
	width: 100%;
	height: 450px;
}
.gallery_img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 450px;
	overflow: hidden;
}
.gallery_img ul {
	position: relative;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.gallery_img ul li {
	float: left;
}
.gallery_img ul li img {
	/*border-radius: 10px;*/
}
.gallery ol {
	position: absolute;
	top:275px;
}
.gallery ol li {
	float: left;
	background:#ccc;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	text-align: center;
	display: inherit;
	text-indent: -9999px;
	cursor: pointer;
	border-radius: 16px;
}
#imgplayer {
	height:305px;
	width:560px;
	padding-top:10px;
	position:relative;
	right:0;
	top:0;
	border:0;
	overflow:hidden
}
#imgplayer-prev, #imgplayer-next {
	position:absolute;
	width:45px;
	height:45px;
	z-index:89;
	filter:alpha(opacity=30);
	opacity:.3;
	top:130px;
	overflow:hidden;
	line-height:10
}
#imgplayer-prev {
	left:10px;
	background:url('../images/png24.png') no-repeat left top;
	_background:url(/uploads/rs/119/4yubfdw0/top_bg.png) no-repeat 2px -557px
}
#imgplayer-next {
    right: 10px; 
   // background: url('../images/png24.png') no-repeat left -45px;
   // _background: url(/uploads/rs/119/4yubfdw0/top_bg.png) no-repeat 2px -495px;
}
#imgplayer-control a:hover {
	filter:alpha(opacity=80);
	opacity:.8
}
.imgnav-mask {
	position: absolute;
	bottom: 0;
	left: 0;
	min-height: 40px;
	background: #000;
	width: 100%;
	z-index: 86;
	filter: alpha(opacity=40);
	opacity: .4;
	/*border-radius: 10px;*/
}
.imgtit {
	position: absolute;
	height: 40px;
	width: 100%;
	bottom: 0;
	z-index: 87;
	background: 0;
}
.imgtit-left{
	left: 0;
	padding-left: 10px;
	text-align: left;
}
.imgtit-right{
	right:0;
	padding-right:10px;
	text-align: right;
}
.imgtit a:link, .imgtit a:visited, .imgtit a:hover, .imgtit a:active {
	display:block;
	height:40px;
	font:normal 16px/40px "微软雅黑";
	text-decoration:none;
	color:#fff;
	letter-spacing:1px
}
/*图片轮播*/